anyio==3.5.0
asgiref==3.4.1
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
cycler==0.11.0
dash==2.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
descartes==1.1.0
Django==3.2.9
et-xmlfile==1.1.0
fastapi==0.74.0
Flask==2.1.2
Flask-Compress==1.12
fonttools==4.33.3
h11==0.13.0
httptools==0.3.0
idna==3.3
importlib-metadata==4.11.4
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.2
munch==2.5.0
newsapi==0.1.1
newsapi-python==0.2.6
numpy==1.21.4
openpyxl==3.0.9
packaging==21.3
pandas==1.3.4
Pillow==9.1.1
plotly==5.8.0
pydantic==1.9.0
pyparsing==3.0.9
pyproj==3.3.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
Shapely==1.8.2
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
starlette==0.17.1
tenacity==8.0.1
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.5
watchgod==0.7
websockets==10.1
Werkzeug==2.1.2
xlrd==2.0.1
zipp==3.8.0
